
/Capstone-Flight-Club/flight-deals-start/__pycache__
Capstone-Flight-Club/flight-deals-start/.DS_Store
/Capstone-Flight-Club/.idea
Capstone-Flight-Club/.env
/Web Scraping Capstone - Data Entry Job Automation/.idea
Web Scraping Capstone - Data Entry Job Automation/.env
/Blog-Capstone-Project/.idea
/Blog-Capstone-Project/__pycache__
